<html>
	<h1>
		<form action="/sign" method="POST">
		name: <input type="text" name="name"><br>
		number: <input type="text" name="number">
		<button type="submit">提交</button>
		</form>
	</h1>
</html>
