<html>
	<h1>
		<form action="/empty" method="POST">
		    <button type="submit">清空</button>
		</form>
		<form action="/import" method="POST">
            <button type="submit">导入</button>
        </form>
        <form action="/download" method="POST">
		    <button type="submit">下载</button>
		</form>
	</h1>
</html>
